<div class="blog_content">
  <h1 class="title">
    <%= blog.title %>
  </h1>
  <h2 class="content">
    <%= blog.content %>
  </h2>
  <a class="button" href="blog/<%= blog.id %>">View details</a>
</div>