<%- include("includes/head.ejs")%>
<script src="/js/script.js" defer></script>
<link rel="stylesheet" href="/css/list.css">
</head>
 <body>
   <%- include("includes/nav.ejs")%>
   <div class="list">
     <h1 class="list_header">List of carts</h1>
   </div>

 </body>
</html>
