 <%- include("includes/head.ejs")%>
 <script src="/js/script.js" defer></script>
 <link rel="stylesheet" href="../public/css/list.css">
 </head>
  <body>
    <%- include("includes/nav.ejs")%>

    <h1><%= title %></h1>
    <a href="/admin/addProduct">add produkt</a>


<% if(products.length===0){ %>
<div>There are no products</div>
<% } else { %>
  <ul>
    <% for(const product of products) {%>
<%- include("includes/product.ejs", {product}) %>
<% } %>
  </ul>
<% } %>
  </body>
</html>
